@page "/familyOverview"
@using global::Models
@using LoginExample.Data.AddFamilyMembersService
@inject IAddFamilyMembersService AddFamilyMembersService;
<link rel="stylesheet" type="text/css" href="css/FamilyOverview/style.css">

@if (adults == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="tableAdults">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Sex</th>
            <th>ID</th>
            <th>HairColor</th>
            <th>EyeColor</th>
            <th>Age</th>
            <th>Weight</th>
            <th>Height</th>
            <th>Job</th>

        </tr>
        </thead>
        <tbody>
        <!-- If the logged in user is an adult it will be highlighted -->
        @* <tr class="active-row"> *@
        @* 
        @* </tr> *@
        @foreach (var item in adults)
        {  
            <tr>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Sex</td>
                <td>@item.Id</td>
                <td>@item.HairColor</td>
                <td>@item.EyeColor</td>
                <td>@item.Age</td>
                <td>@item.Weight</td>
                <td>@item.Height</td>
                <td>@item.JobTitle</td>
            </tr>
        }

        </tbody>
    </table>
@code {
    private IList<Adult> adults;

    protected override async Task OnInitializedAsync()
    {
    // Generate the list of adults 
       adults=AddFamilyMembersService.GetListOfAdults();
    }

    private List<Adult> hardCodedAdults()
    {
        var temp = new List<Adult>();
        Adult adult = new Adult();
        adult.FirstName = "Bilba";
        adult.LastName = "Marin";
        adult.Sex = "M";
        adult.Id = 82398283;
        adult.HairColor = "Black";
        adult.EyeColor = "Blue";
        adult.Age = 22;
        adult.Weight = 90;
        adult.Height = 190;
        adult.JobTitle = "Builder";
        temp.Add(adult);
        return temp;
    }

}}