@page "/petsOverview"
@page "/fddf"
@using LoginExample.Data.AddFamilyMembersService

@using LoginExample.Models.Family.Child.Pet
@using System.Text
@inject IAddFamilyMembersService AddFamilyMembersService;


<link rel="stylesheet" type="text/css" href="css/FamilyOverview/SharedStyleAndImg/style.css">
<div class="jumbotron text-center">
  <h1>Pets Overview</h1>
</div>
<div class="row">
    <div class="col-md-4">
        @* <p> *@
        <BlazoredTypeahead id="myInput" SearchMethod="FilterByPetName" @bind-Value="_selectedPet" placeholder="Search by name..." MinimumLength="2">
            <SelectedTemplate >
                @context.Name @context.Species
            </SelectedTemplate>
            <ResultTemplate>
                @context.Name @context.Species
            </ResultTemplate>
        </BlazoredTypeahead>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-4">
        @* <p> *@
        <BlazoredTypeahead id="myInput" SearchMethod="FilterByPetId" @bind-Value="_selectedPet" placeholder="Search by ID..." MinimumLength="2">
            <SelectedTemplate >
                @context.Id @context.Name
            </SelectedTemplate>
            <ResultTemplate>
                @context.Id @context.Name
            </ResultTemplate>
        </BlazoredTypeahead>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-2">
        <div class="button_cont" align="center"@onclick="@(ShowAllAdults)">
            <input type="button" class="example_d" value="Display all pets" @onclick="@(ShowAllAdults)">
        </div>
    </div>
</div>
    @* If statement sets the table data to the search result *@
@if (_selectedPet != null)
{
 
    List<Pet> temp = new List<Pet>();
    temp.Add(_selectedPet);
    _petDisplayed = temp;
    _selectedPet = null;
}
@if (_petDisplayed == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Species</th>
        </tr>
        </thead>
        <tbody>
        <!-- If the logged in user is an adult it will be highlighted -->
        @* <tr class="active-row"> *@
        @* 
        @* </tr> *@
        @foreach (var item in _petDisplayed)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Age</td>
                <td>@item.Species</td>
            </tr>
        }

        </tbody>
    </table>
}
@code {
    private IList<Pet> _petDisplayed;
    private IList<Pet> _allPets;

    private Pet _selectedPet;

    protected override async Task OnInitializedAsync()
    {
    // Generate the list of adultsDisplayed 
        _allPets = AddFamilyMembersService.GetListOfPets();
        _petDisplayed = _allPets;
    }

    private async Task<IEnumerable<Pet>> FilterByPetName(string name)
    {
        return await Task.FromResult(_allPets.Where(x => x.Name.ToLower().Contains(name.ToLower())).ToList());
    }

    private async Task<IEnumerable<Pet>> FilterByPetId(string enteredId)
    {
        return await Task.FromResult(_allPets.Where(x => x.Id.ToString().Contains(enteredId.ToLower())).ToList());
    }

    private void ShowAllAdults()
    {
        _petDisplayed = _allPets;
    }
}
