@page "/addChild"
@page "/sdfds"
@using global::Models
@using LoginExample.Data.AddFamilyMembersService
@using LoginExample.Models.Family.Child
@using LoginExample.Models.Family.Child.Pet
@inject IAddFamilyMembersService AddFamilyMembersService;
<link rel="stylesheet" type="text/css" href="css/AddMembers/AddChild/style.css">
<EditForm Model="@addChild" OnValidSubmit="@AddNewChild">
    <div class="container">
        <div class=" text-center mt-1 ">
            <h1>Add child</h1>
            <DataAnnotationsValidator/>
            <ValidationSummary/>
        </div>
        <div class="row ">
            <div class="col-lg-7 mx-auto">
                <div class="card mt-2 mx-auto p-4 bg-light">
                    <div class="card-body bg-light">
                        <div class="container">
                            <form id="contact-form" role="form">
                                <div class="controls">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="form_name">Firstname *</label>
                                                <InputTextArea rows="1" id="form_name" @bind-Value="addChild.FirstName" type="text" name="name" class="form-control" placeholder="Please enter your firstname *" required="required" data-error="Firstname is required."></InputTextArea>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="form_lastname">Lastname *</label>
                                                <InputTextArea id="form_lastname" rows="1" @bind-Value="addChild.LastName"type="text" name="surname" class="form-control" placeholder="Please enter your lastname *" required="required" data-error="Lastname is required."></InputTextArea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="form_email">Sex *</label>
                                                <InputTextArea id="form_text" rows="1" @bind-Value="addChild.Sex" type="text" name="sex" class="form-control" placeholder="Please enter your sex *" required="required" data-error="Valid email is required."></InputTextArea>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="form_id">ID *</label>
                                                <InputNumber id="form_id" rows="1" @bind-Value="addChild.Id" type="number" name="ID" class="form-control" placeholder="Please enter your ID *" required="required" data-error="Valid ID is required."></InputNumber>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="form_need"> Eye Color *</label>
                                                <select id="form_need" @bind="addChild.EyeColor" name="need" class="form-control" required="required" data-error="Please specify your hair color.">
                                                    <option value="" selected disabled>--Select Eye Color--</option>
                                                    <option>Brown</option>
                                                    <option>Grey</option>
                                                    <option>Green</option>
                                                    <option>Blue</option>
                                                    <option>Amber</option>
                                                    <option>Hazel</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="form_need">Hair Color *</label>
                                                <select id="form_need" name="need" @bind="addChild.HairColor" class="form-control" required="required" data-error="Please specify your eye color.">
                                                    <option value="" selected disabled>--Select Hair Color--</option>
                                                    <option>Blond</option>
                                                    <option>Red</option>
                                                    <option>Brown</option>
                                                    <option>Black</option>
                                                    <option> White</option>
                                                    <option>Grey</option>
                                                    <option>Blue</option>
                                                    <option>Green</option>
                                                    <option>Leverpostej</option>>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="form_age">Age *</label>
                                                <InputNumber id="form_age" rows="1" @bind-Value="addChild.Age" type="number" name="age" class="form-control" placeholder="Please enter your age *" required="required" data-error="Valid age is required."></InputNumber>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="form_weight">Weight *</label>
                                                <InputNumber id="form_weight" rows="1" @bind-Value="addChild.Weight" type="number" name="ID" class="form-control" placeholder="Please enter your weight *" required="required" data-error="Valid weight is required."></InputNumber>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="form_weight">Height *</label>
                                                <InputNumber id="form_height" rows="1" @bind-Value="addChild.Height" type="number" name="height" class="form-control" placeholder="Please enter your height *" required="required" data-error="Valid height is required."></InputNumber>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="form_interests">Interests: *</label>
                                                <input id="form_interests" rows="1" type="text" name="age" class="form-control" placeholder="Interests separated with comma(,) *" required="required" data-error="Invalid." @oninput="@((arg) => DynamicInterestsRead(arg))"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card mt-2 mx-auto p-4 bg-light">
                                        <div class="card-body bg-light">
                                            <div class="container">
                                                <p style="font-size: 17px"><u>Choose the pets:</u></p>  
                                                <form id="pets-form" role="form">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <br/>
                                                                @foreach (var pet in _pets)
                                                                {

                                                                    <input class="custom-checkbox" type="checkbox" @onchange="@((arg) => AddSelectedPet(pet, arg.Value))"/>
                                                                    @pet
                                                                    <br/>
                                                                }

                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                      <div class="row">
                                          <div class="col-md-12">
                                              <input type="submit" class="btn btn-success btn-send pt-2 btn-block " value="Send Message" @onclick="@(() => AddNewChild())">
                                          </div>
                                          </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</EditForm>

@code {
    private Child addChild = new Child();
    //List of all pets loaded from the JSON file 
    private List<Pet> _pets;
    //List of pets checked by user
    private List<Pet> _childPets;

    private List<ChildInterest> _childInterests;
    private string _unparsedChildInterest;
    private string _parsedChildInterest;
    

   


    protected override async Task OnInitializedAsync()
    {
        _childInterests = new List<ChildInterest>();
        _pets = AddFamilyMembersService.GetListOfPets();
        _childPets=new List<Pet>();
    }

    /// Method reqests the AddFamilyMembersService to create a child object.
    /// ComputeInterests() will parse the entered Interests component field
    private void AddNewChild()
    {
        ComputeInterests();
        addChild.Pets = _childPets;
        AddFamilyMembersService.AddChild(addChild);
        Console.WriteLine(addChild.ToString());
    }

    // Very inefficient method
    private void DynamicInterestsRead(ChangeEventArgs args)
    {
        _unparsedChildInterest = null;
        try
        {
            _unparsedChildInterest = args.Value.ToString();
        }
        catch (Exception e)
        {
        }
    }


    private void ComputeInterests()
    {
        List<string> tempInterestsList = _unparsedChildInterest.Split(',').ToList();

        foreach (var interest in tempInterestsList)
        {
            Interest tempInterest = new Interest();
            ChildInterest tempChildInterest = new ChildInterest();
            
            tempInterest.Type = interest;
            tempChildInterest.Child = addChild;
            tempChildInterest.Interest = tempInterest;
            _childInterests.Add(tempChildInterest);
        }
        addChild.ChildInterests = _childInterests;
    }
    

    private void AddSelectedPet(Pet checkedPet, object userPetCheckValue)
    {
        if ((bool)userPetCheckValue)
        {
            if (!_childPets.Contains(checkedPet))
            {
                _childPets.Add(checkedPet);
            }
        }
        else
        {
            if (_childPets.Contains(checkedPet))
            {
                _childPets.Remove(checkedPet);
            }
        }
    }

}